@page "/CadastrarEmpresa"
@using Ristreto.Application
@using Ristreto.Application.DTO
@inject NavigationManager Navigation

@rendermode InteractiveServer

<h3>Criar Empresa</h3>
    
@if (erro)
{
    <p>@msgerro</p>
}
    <form @onsubmit="SalvarEmpresa">
        <div>
            <label for="nomeEmpresarial">Nome Empresarial:</label>
            <input id="nomeEmpresarial" type="text" @bind="empresa.NomeEmpresarial" />
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input id="telefone" type="text" @bind="empresa.Telefone" />
        </div>
        <div>
            <label for="url">URL:</label>
            <input id="url" type="text" @bind="empresa.URL" />
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>


@code {
    [Inject]
    private IEmpresaApplication _empresaApplication { get; set; }
    private EmpresaDTO empresa = new EmpresaDTO();
    private bool salvoComSucesso = false;
    private bool erro = false;
    private string msgerro = "";

    private async Task SalvarEmpresa()
    {
        try 
        {
            await _empresaApplication.Add(empresa);

            Navigation.NavigateTo($"/Empresas");
        } 
        catch (Exception ex)
        {
            erro = true;
            msgerro = ex.Message;
        };
    }
    }
}